body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  width: 800px;
  margin: auto;
}

.component-container {
  border: 1px dotted;
  margin: 10px;
  padding: 10px;
}

.layout-row {
  display: flex;
}

.layout-left {
  width: 25%;
}

.layout-right {
  width: 75%;
}

.header .description {
  font-size: 13px;
}

.left-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.left-navigation ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.left-navigation ul li a:hover {
  background-color: #555;
  color: white;
}

.home-component .update-btn {
  width: 200px;
  background-color: gray;
  cursor: pointer;
}

.home-component p button {
  margin-left: 10px;
}

/* Form */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #aebaae;
}

table.users, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

table.users tr:nth-child(even){ background-color: #f2f2f2; }

table.users tr:hover { background-color: #ddd; }